a {

    color: black;

}


a:hover {

    color: grey;

}


.navbar .nav>li>a:hover {
    color: black;
    font-size: 12px;

}


.navbar-default {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.navbar-default .navbar-brand {
    color: #2F2F2F;
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.navbar-default .navbar-brand:hover {
    color: black;
}


.navbar-fixed-top {
    margin: 0px;

}

.form-control {
    height: 26px
}



/*.thumbnail img {*/

/*    width: 100%;*/

/*    height: 200px;*/

/*}*/

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;


}




li {
    display: inline-block;
}


/*----carousel----------------*/

.link_images {
    width: 100%;
    height: 200px;
    overerflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    margin: 6px;
    padding: 6px;

}




.test {
    max-height: 80%;
}




.tint {
    opacity: 1;
}

.tint:hover {
    opacity: 0.5;
    transition: opacity 1s, background 1s;

}


.grey {
    background-color: #EEEEEE;
    width: 100%;
    height: 400px;
    margin-top: 50px;


}


.grid {

    background-color: #EEEEEE;
    width: 100%;
    height: 800px;
    margin: 50px;

}

.card {
    background-color: white;
    overflow: hidden;
    padding: 5px;
    margin-right: 6px;
    display: inline-block;


}

.card-title {
    font-size: 17px;
    margin: 15px;
}

.card-img-top {
    height: 150px;
}


.product_image {

    height: 300px;
    width: 350px;
    padding: 0px;
    margin: 0px;


}

.product-list {
    height: 100%;
}


.inner_img {

    width: 80%;
    height: 100%;
    overflow: hidden;
    background-sze: contain;

}


/*label{*/

/*display: inline-block;*/

/*    float: left;*/

/*    clear: left;*/

/*    width: 100px;*/

/*    text-align: right;*/

/*    padding:12px;*/

/*}*/

/*input {*/

/*display: inline-block;*/

/*  float: left;*/

/*}*/

.btn-primary {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
    margin-top: 15px;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-primary:hover {
    color: white;
    background-color: #2F2F2F;

}



.btn {
    border: solid 1px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
}









/*------------------Home Page---------------*/

.callout {
    padding: 20px;

}

.logo {
    margin: 0 auto;
    color: orange;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 5em!important;
    font-weight: 300;
}

.tagline {

    font-family: 'Sacramento', cursive;
    text-align: center;


}

/*---------------------------------*/

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;

}

.product {
    background-sze: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;


}

caption p {

    word-wrap: break-word;
}

.caption {
    height: 300px;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;


}

.panel-body {
    height: 100%;
    border: solid 1px #ddd;
}

.product-description {
    min-height: 40px;
}



/*collage for home page---------------------------------------------*/

.column img {
    height: 50%;
}

.long img {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}



.heading {
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 40;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}


.container {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;

}


.centered {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    width: 100%;
    text-align: center;
    z-index: 40;
    padding-top: 70px;
    padding-bottom: 70px;
}


.category_heading {

    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding: 20px;

}


/*-----------------------------*/

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/*-------------------------------*/

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.footer {
    width: 100%;
    text-align: left;
    margin-top: 25px;
    background-color: #EEEEEE;
    color: #A9A9A9;

}

.footer_text {
    margin: 20px;
}


.second_footer {
    width: 100%;
    text-align: left;
    background-color: #DDDDDD;
    color: black;
    padding: 15px;
}

.copy_right {
    padding-left: 15px;
}



.social-links {


    margin-top: 25px;
    text-align: center;

}


/*blog--------------------------------------------*/

.blog_image {

    margin: 15px;
    width: 100%;
    height: 80%;

}

.read_blog_image {
    margin: 15px;
    width: 300px;
    height: 280px;
    background-sze: contain;
}

.blog {
    margin: 50px;
}

.blog_intro {

    text-align: left;

}

.blog_title {
    font-size: 3em;
    margin-top: 0px;
    font-family: 'Gamja Flower', cursive;
}





/*--------------------comment box-----------------------*/

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
}

/*--------------------------------------------------------------*/

/*.social-links li a i {*/

/*    width: 32px;*/

/*    height: 32px;*/

/*padding: 12px 0;*/

/*border-radius: 50%;*/

/*    font-size: 13px;*/

/*    line-height: 7px;*/

/*    texrt-align: center;*/

/*    color: #88898A;*/

/*    background-color: #feb3cd;*/

/*}*/
