a {

    color: black;

}


a:hover {

    color: grey;

}


.navbar .nav>li>a:hover {
    color: black;
    font-size: 12px;

}


.navbar-default {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.navbar-default .navbar-brand {
    color: #2F2F2F;
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.navbar-default .navbar-brand:hover {
    color: black;
}


.navbar-fixed-top {
    margin: 0px;

}

.form-control {
    height: 26px
}


.dropdown-menu {

    min-width: 100%;
    font-size: 12px;
    padding: 5px;
}

.navbar-right .dropdown-menu {
    left: 0!important;
    right: auto!important;

}

#signup {
    min-width: 180%;

}



/*.thumbnail img {*/

/*    width: 100%;*/

/*    height: 200px;*/

/*}*/

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
}

@media (max-width:767px) {
    body {
        padding-top: 15%;

    }
}





li {
    display: inline-block;
}


/*----carousel----------------*/

.link_images {
    width: 100%;
    height: 200px;
    overerflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    margin: 6px;
    padding: 6px;

}




.test {
    max-height: 80%;
}




.tint {
    opacity: 1;
}

.tint:hover {
    opacity: 0.5;
    transition: opacity 1s, background 1s;

}

/*--------------------------delivery page---------------------------------*/

.delivery_title {

    padding-top: 20px;

}



.delivery_type {

    margin-top: 20px;
}

.truck {
    height: 25%;
    width: 25%;
}

.delivery_heading {
    padding-bottom: 20px;

}



/*------------------------------Home page--------------------------------*/

.grey {
    background-color: #EEEEEE;
    width: 100%;
    height: auto;
    margin-top: 50px;

}

@media (max-width:767px) {
    .grey {
        margin-left: 5px;
        padding-left: 0px!important;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grey {
        margin-left: 0px;
        margin-right: 5px;

    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .grey {
        padding-left: 10px!important;
        margin-left: 0px!important;
        padding-bottom: 3%!important;
    }
}


.grid {

    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 50px;

}

@media (max-width:767px) {
    .grid {
        margin-left: 0px!important;

    }
}


@media (min-width: 992px) and (max-width: 1800px) {
    .grid {}
}


.arrow2 {

    position: relative;

    font-size: 49px;

    text-align: center;

    transform: rotate(0deg);

    animation: bouncearrow 1s infinite;

}



@keyframes bouncearrow {

    0% {

        top: 0px;

    }

    50% {

        top: 10px;

    }

    100% {

        top: 0px;

    }

}




.blog_card {}

@media (max-width:767px) {
    .blog_card {
        width: 25rem!important;


    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blog_card {
        width: 16rem;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .blog_card {
        width: 25rem!important;

    }
}


.card {
    background-color: white;
    overflow: hidden;
    padding: 5px;
    margin-right: 6px;
    display: inline-block;

}



@media (max-width:767px) {
    .card {
        width: 15rem;
        margin-bottom: 5px;
        padding: 0px;
        margin-left: 5px;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 18rem;
    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .card {
        width: 18rem;
        margin: 0 auto;
    }
}













.card-title {
    font-size: 16px;
    margin: 10px;
    padding: 10px;

}

@media (max-width:767px) {
    .card-title {

        font-size: 12px
    }
}


.card-img-top {
    height: 150px;
    width: 100%;
}


.product_image {

    height: 300px;
    width: 350px;
    padding: 0px;
    margin: 0px;


}

.product-list {
    height: 100%;
}


.inner_img {

    width: 80%;
    height: 100%;
    overflow: hidden;
    background-sze: contain;

}

/*-----------------------------------contact page---------------------------------------*/

.contact {
    padding-top: 20px!important;
    font-size: 16px!important;
}

/*-------------------------------------view cart------------------------------------------*/

#cart_button {
    background-color: #93c54b;
    color: white;
}

#cart_button:hover {
    background-color: #568611;
}

#checkout-button {
    background-color: #568611;

}


td {
    text-align: left;

}

#cart-image {
    margin-left: 25%;
    width: 150px;
    height: 75px;
}


@media (max-width:767px) {
    #cart-image {
        width: 13rem;
        margin-left: 0px!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #cart-image {
        margin-left: 0px!important;

    }
}







#item-total {
    color: #D21345;

}

#sub-total {
    background-color: #D21345;
}

/*---------------------------------view category page --------------------------------*/

#shop_now {
    background-color: #93c54b;
    color: white;

}

#shop_now:hover {
    background-color: #568611;

}


.view_category_row {}

@media (max-width:767px) {
    .view_category_row {
        /*margin-bottom: 15%!important;*/
        padding: 0px;
        margin: 0 auto;
        padding-top: 5%;


    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .view_category_row {
        width: 33%;
        padding-top: 5%;




    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .view_category_row {
        /*width: 33%;*/
    }
}



.product_card {}

@media (max-width:767px) {
    .product_card {
        /*width: 25rem!important;*/
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product_card {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .product_card {
        /*width: 25rem!important;*/
        margin-top: 10%;
        max-width: 100%;



    }
}




/*---------------------product detail page---------------------------------*/

#size {

    box-shadow: 1px 1px 8px #93c54b;

}

#quantity {

    box-shadow: 1px 1px 8px #93c54b;
}


#add_to_cart {
    background-color: #93c54b;
    color: white;
    /*padding:5px;*/
    margin-top: 25px;

}

#add_to_cart:hover {
    background-color: #568611;

}

.product_detail_card_img_top {}

@media (min-width: 768px) and (max-width: 991px) {
    .product_detail_card_img_top {
        width: 22rem;
        float: right;
        /*margin-top: 10%;*/
        /*max-width: 100%;*/


    }
}



@media (min-width: 992px) and (max-width: 1800px) {
    .product_detail_card_img_top {
        /*width: 25rem;*/
        /*float: right;*/
        margin-top: 10%;
        max-width: 100%;

    }
}





.product_detail_row {}

@media (min-width: 768px) and (max-width: 991px) {
    .product_detail_row {

    }
}


@media (min-width: 992px) and (max-width: 1800px) {
    .product_detail_row {

        margin-left: 30%;


    }
}

.product_detail_2 {

    text-align: left;

}





.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
    margin-bottom: 10px;
}

.btn-primary:hover {
    color: white;
    background-color: #93c54b;

}




.btn {
    border: solid 1px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width:767px) {
    .btn {

        font-size: 12px
    }
}









/*------------------Home Page---------------*/

.callout {
    padding: 20px;

}

.logo {
    margin: 0 auto;
    color: orange;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 5em!important;
    font-weight: 300;
}

.tagline {

    font-family: 'Sacramento', cursive;
    text-align: center;


}

/*---------------------------------*/

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;

}

.product {
    background-sze: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;


}

caption p {

    word-wrap: break-word;
}

.caption {
    height: 300px;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;


}

.panel-body {
    height: 100%;
    border: solid 1px #ddd;
}

.product-description {
    min-height: 40px;
}



/*collage for home page---------------------------------------------*/

.column img {
    height: 50%;
}

.long img {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}



.heading {
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 40;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}


.container {
    position: relative;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;

}


.centered {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    width: 100%;
    text-align: center;
    z-index: 40;
    padding-top: 70px;
    padding-bottom: 70px;
}


@media (max-width:767px) {
    .centered {
        line-height: 40px;
        font-Size: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 2%;

    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .centered {
        margin-top: 0px;
        top: 2%;
    }
}


.category_heading {

    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 0px;

}


@media (max-width:767px) {
    .category_heading {
        font-size: 2em;

    }
}


.category_column {}

@media (max-width:767px) {
    .category_column {
        padding: 0px;
        margin: 0 auto;

    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .category_column {
        width: 33%;
        /*padding-top: 10px;*/
        /*margin-bottom: 10px*/
    }
}

@media (min-width: 992px) and (max-width: 1800px) {
    .category_column {
        width: 16%;

    }
}



.blog_column {}

@media (max-width:767px) {
    .blog_column {}
}


@media (min-width: 768px) and (max-width: 991px) {
    .blog_column {
        width: 23%;
        margin-right: 10px;
    }
}


@media (min-width: 992px) and (max-width: 1800px) {
    .blog_column {
        width: 25%;

    }
}




/*-----------------------------*/

.row {
    display: -ms-flexbox;
    /*IE10 */
    /*display: flex;*/
    /*-ms-flex-wrap: wrap;*/
    /*IE10 */
    /*flex-wrap: wrap;*/
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /*IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/*-------------------------------*/

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}



/*------------------------------------payment form------------------------*/
.form-control {
    height: 40px;
}

/*----------------footer---------------------------*/

#delivery_link {
    color: #A9A9A9;
}


.footer {
    width: 100%;
    text-align: left;
    margin-top: 35px;
    background-color: #EEEEEE;
    color: #A9A9A9;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    bottom: 0;

}

.footer_text {
    margin: 20px;
}


#second_footer {
    width: 100%;
    text-align: left;
    background-color: #DDDDDD;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    bottom: 0;
    margin-bottom: 0px;


}

.copy_right {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

}


.social-links {


    margin-top: 25px;
    text-align: center;

}


/*blog--------------------------------------------*/

#send_comment {

    background-color: #93c54b;
    color: white;


}

#send_comment:hover {
    background-color: #568611;

}



.blog_heading {

    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding-bottom: 20px;


}

.blog_image {

    margin: 15px;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    padding-right: 10px;

}



.read_blog_image {

    margin: 15px;
    width: 100%;
    height: 80%;
    border-radius: 50%;

}

#sign_in {
    color: #93c54b;
    margin-top: 10px;
}

#sign_in_link {
    color: #568611
}

.single_blog {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: #EEEEEE;
}


.blog {
    margin: 15px;
}

.single_blog_intro {

    text-align: left;
    padding: 5%;


}

.blog_intro {
    text-align: left;
}

.single_blog_title {
    font-size: 2.5em;
    margin-top: 0px;
    font-family: 'Charm', cursive;
    text-align: center;
}

.blog_title {
    font-size: 2.5em;
    margin-top: 0px;
    font-family: 'Charm', cursive;
    text-align: left;
}




/*--------------------comment box-----------------------*/

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

/*.post .post-description .stats .stat-item {*/

/*    display: inline-block;*/

/*    margin-right: 15px;*/

/*}*/

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
}

/*--------------------------------------------------------------*/

/*.social-links li a i {*/

/*    width: 32px;*/

/*    height: 32px;*/

/*padding: 12px 0;*/

/*border-radius: 50%;*/

/*    font-size: 13px;*/

/*    line-height: 7px;*/

/*    texrt-align: center;*/

/*    color: #88898A;*/

/*    background-color: #feb3cd;*/

/*}*/
