body {
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;


}


footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    background-color: #EEEEEE;
    color: #A9A9A9;
}

li {
    display: inline-block;
}

/*------------------Home Page---------------*/

.callout {
    padding: 20px;

}

.logo {
    margin: 0 auto;
    color: orange;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 5em!important;
    font-weight: 300;
}

.tagline {

    font-family: 'Sacramento', cursive;
    text-align: center;


}

/*---------------------------------*/

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;

}

.product {
    background-sze: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;


}

caption p {

    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;


}

.panel-body {
    height: 100%;
    border: solid 1px #ddd;
}

.product-description {
    min-height: 40px;
}



/*collage for home page---------------------------------------------*/

.column img {
    height: 50%;
}

.long img {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}



.heading {
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 40;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}


.container {
    position: relative;
    text-align: center;
 
}


.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    color: black;
    font-size: 82px;
    font-weight: bold;
    line-height: 50px;
    mix-blend-mode: screen;
    width: 100%;
    text-align: center;
    z-index: 40;
    padding-top: 70px;
    padding-bottom: 70px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


.form-control {
    height: 25px;

}

.search {
    background-color: white;
}

/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;


        max-width: 100%;
    }
}

/*-------------------------------*/

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}
