{% extends 'base.html' %} {% load static from staticfiles %} {% block head_styles %} {{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}"> {% endblock %} {% block content %} 




<div class="row blog_heading">
    Sole Mates - Blog
</div>


{% for post in posts %}

<div class="row blog">



    <div class="col-sm-4">
        {% if post.image %}
        <img src="{{ MEDIA_URL }}{{ post.image }}" class="blog_image" /> {% endif %}


    </div>
    <div class="col-sm-7 blog_intro">
        <p class="blog_title">{{ post.title }}</p>

        <p>{{ post.content|truncatewords:50 }}</p>
        <p><a href="{% url 'read_post' post.id %}" class="btn btn-default">Read more</a></p>
        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>

    </div>
    <hr>
</div>
{% endfor %} {% endblock %}
