{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECommerce</title>

    {% block head_style %}
    <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock head_style %} {% block head_js %}
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {% endblock head_js %}
</head>

<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sole Mates</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <form action="{% url 'search' %}" method="GET" class="form-inline"><i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" name="q">
                            </form>
                        </a>
                    </li>

                    <!--<li><a href="{% url 'view_category' 2 %}"> Women</a></li>-->


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="/category/7">Trainers</a>
                            <a href="/category/4">Heels</a>
                            <a href="/category/6">Boots</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Men</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="/category/3">Trainers</a>
                            <a href="/category/8">Shoes</a>
                            <a href="/category/5">Boots</a>
                        </div>
                    </li>
                    <li><a href="{% url 'blog_posts' %}"> Blog </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                            <!--<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>-->
                            <a class="dropdown-item" href="{% url 'logout' %}"> Logout</a> {% else %}
                           <a class="dropdown-item" href="{% url 'signup' %}" id="signup"> Signup</a> 
                            <a class="dropdown-item" href="{% url 'login' %}"> Login</a> {% endif %}
                        </div>
                    </li>
                    <li><a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i> Cart                        
                          {% if items_in_cart > 0 %}
                          <label class="badge badge-light">{{ items_in_cart }}</label>
                          {% endif %}
                          </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="container">
        <br>

        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>

    <div class="row" id="footer">
        <div class="footer">
            <div class="col-sm-4">
                <p class="footer_text"><strong>Help & Information</strong><br><br> Delivery & Returns <br> Premier Delivery<br> 10% Student Discount <br> Contact Us
                </p>
            </div>
            <div class="col-sm-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item"> <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"> <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram "></i></a> </li>
                    <li class="list-inline-item"> <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube "></i></a> </li>
                    <li class="list-inline-item"> <a href="https://www.pinterest.ie/ " target="_blank "><i class="fab fa-pinterest "></i></a> </li>
                    <li class="list-inline-item"> <a href="https://www.linkedin.com " target="_blank "><i class="fab fa-linkedin "></i></a> </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row" id="second_footer">
        <div class="col-sm-4">
            <p class="copy_right">© 2018 Sole Mates</p>
        </div>
    </div>


</body>

</html>
