{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">

        <div class="row contact"><strong>Chat</strong><br>Not currently available.<br> If you wish you can send us an email at contact.ie@zara.com.
        </div>
        <div class="row contact"><strong>Telephone</strong><br> 1800 123 456 <br>Monday to Friday from 8:30 am to 7:30 pm<br>Saturday from 10:00 am to 4:00 pm

        </div>
        <div class="row contact">
            <strong>Social media</strong><br>

            <a href="https://www.facebook.com" target="_blank">ClosetK</a><br/> <br> @ClosetK
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

{% endblock content %}
