{% extends "base.html" %} {% block content %}


<h1 class="delivery_heading">Delivery and Returns</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/delivery-truck.jpg" class="truck" />
            <h2>Standard Delivery</h2>
            <h3>$2.50</h3>
            <p><strong>Free</strong>&ndash; spend over $20</p>
            <div>
                <ul>
                    <li>Delivered within 7 days</li>
                </ul>
                <p>Note: Subject to placing your order before midnight. </p>
            </div>
            <h2 class="delivery_title">Next-Working-Day Delivery</h2>
            <h3>FREE</h3>
            <div>
                <ul>
                    <li>Delivered between 7am and 10pm the following day</li>
                </ul>
                <p>Note: Subject to placing your order before midnight. </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/images/return.jpg" class="truck" />
            <h2>Parcel Connect</h2>
            <h3>FREE</h3>
            <div>
                <ul>
                    <li> Return through your local Parcel Connect store in over 1,000 locations. <br>You'll find a pre-paid label on your returns note in your parcel. <br> Open 7 days a week, early until late.</li>
                </ul>
                <p>Note: Parcel Connect available in limited areas. </p>
            </div>
            <h2 class="delivery_title">Post Office</h2>
            <h3>FREE</h3>
            <div>
                <ul>
                    <li>Return through your local An Post post office in over 1,000 locations. Your return will be processed in approximately 14 working days.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
