{% extends "base.html" %} {%block content %}


<video autoplay="autoplay" loop="loop" preload="auto" muted="muted" style="opacity: 1;" width="100%" height="100%" controls>
  <source src="static/video/cable.mp4" type="video/mp4">
</video>
<div class="centered">SOLE MATES</div>





<div class="row grey">

 <p class="category_heading">Shop By Category
  <p>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home1.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Women's Boots</h5>
      <a href="/category/6" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home9.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Men's Boots</h5>
      <a href="/category/5" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home5.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Women's Trainers</h5>
      <a href="/category/7" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home10.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Men's Shoes</h5>
      <a href="/category/8" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home8.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Heels</h5>
      <a href="/category/4" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>

   <div class="col-xs-6 col-md-3 col-lg-2 category_column">
    <div class="card">
     <img class="card-img-top" src="static/images/home5.jpg" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title">Men's Trainers</h5>
      <a href="/category/7" class="btn btn-primary">Shop Now!</a>
     </div>
    </div>
   </div>


</div>


<!------------------------------------------------------->


<div class="grid">

 <p class="category_heading">Check Out Our Blog!

  <a href="/blog/posts">
   <div class="arrow2">&#8675;</div>
  </a>
  <p>
   <!--<a href="/blog/posts"><i class="fas fa-arrow-alt-circle-down"></i></a>-->

   <div class="row">

    <div class="col-xs-12 col-md-3 blog_column">
     <div class="card blog_card">
      <img class="card-img-top" src="static/images/converse.jpg" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Top Tips For Cleaning Your Converse</h5>
       <a href="posts/5/" class="btn btn-primary">Read Now</a>
      </div>
     </div>
    </div>

    <div class="col-xs-12 col-md-3 blog_column">
     <div class="card blog_card">
      <img class="card-img-top" src="static/images/Gianvito.jpg" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Gianvito Rossi Fall Winter 2018 Collection</h5>
       <a href="posts/1/" class="btn btn-primary">Read Now</a>
      </div>
     </div>
    </div>

    <div class="col-xs-12 col-md-3 blog_column">
     <div class="card blog_card">
      <img class="card-img-top" src="static/images/toptips.jpg" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Top Tips to Make Your Shoes Live Longer</h5>
       <a href="posts/3/" class="btn btn-primary">Read Now</a>
      </div>
     </div>
    </div>

    <div class="col-xs-12 col-md-3 blog_column">
     <div class="blog_card card ">
      <img class="card-img-top" src="static/images/shoewisdom.jpg" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Shoe Wisdom – Quotes about Shoes</h5>
       <a href="posts/4/" class="btn btn-primary">Read Now</a>
      </div>
     </div>
    </div>



    <!-- <div class="column">-->
    <!--  <img src="static/images/grid1.jpg" style="width:100%">-->
    <!--  <img src="static/images/grid2.jpg" style="width:100%">-->

    <!-- </div>-->
    <!-- <div class="column">-->
    <!--  <img src="static/images/grid3.jpg" style="width:100%">-->
    <!--  <img src="static/images/grid4.jpg" style="width:100%">-->

    <!-- </div>-->
    <!-- <div class="column">-->
    <!--  <img src="static/images/grid5.jpg" style="width:100%">-->
    <!--  <img src="static/images/grid6.jpg" style="width:100%">-->


    <!-- </div>-->
    <!-- <div class="column">-->
    <!--  <img src="static/images/grid8.jpg" style="width:100%">-->
    <!--  <img src="static/images/grid9.jpg" style="width:100%">-->


    <!-- </div>-->
   </div>


</div>

<!------------------------------------------------------------------>

{% endblock %}
