{% extends "base.html" %} {%block content %}


<!--<div class="row callout">-->
<!--    <div class="col-sm-12 logo">-->
<!--        <p>Soul Mates </p>-->
<!--        <p class="tagline">Put Your Best Foot Forward </p>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
 <video autoplay="autoplay" loop="loop" preload="auto" muted="muted" style="opacity: 1;" width="100%" controls>
  <source src="static/video/cable.mp4" type="video/mp4">
</video>
  <div class="centered">SOLE MATES</div>
</div>



<!--<div class="main">-->
<!--    <div class="heading">-->
<!--        <span> SOLE MATES </span>-->
<!--    </div>-->
<!--</div>-->


<!--home images-->


<!--<div class="row colour_background">-->

<!--    <div class="column">-->
<!--        <img src="static/images/home1.jpg" style="width:100%">-->
<!--        <img src="static/images/home2.jpg" style="width:100%">-->
<!--    </div>-->

<!--    <div class="column long">-->
<!--        <img src="static/images/home4.jpg" style="width:100%">-->
<!--    </div>-->

<!--    <div class="column">-->
<!--        <img src="static/images/home5.jpg" style="width:100%">-->
<!--        <img src="static/images/home3.jpg" style="width:100%">-->
<!--    </div>-->

<!--    <div class="column">-->
<!--        <img src="static/images/home7.jpg" style="width:100%">-->
<!--        <img src="static/images/home8.jpg" style="width:100%">-->
<!--    </div>-->
<!--</div>-->

<!----------------------------------->




{% endblock %}
