{% extends "base.html" %}

{%block content %}
<h1>Home Page</h1>



 <!--home images-->


    <div class="row">
        <div class="column">
            <img src="home1.jpg" style="width:100%">
            <img src="home2.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="home4.jpg" style="width:100%">
            <img src="home3.jpg" style="width:100%">

        </div>
        <div class="column">
            <img src="home5.jpg" style="width:100%">
            <img src="home6.jpg" style="width:100%">

        </div>
        <div class="column">
            <img src="home7.jpg" style="width:100%">
            <img src="home7.jpg" style="width:100%">
        </div>
    </div>

    <!----------------------------------->




{% endblock %}