{% extends "base.html" %} {% block content %}

<div class="row">
    <!--<div class="col-xs-3"></div>-->
    <div class="col-xs-6 col-md-2 product_detail_row">
        <!--<div class="card" id="product_detail">-->
        <img class="card-img-top product_detail_card_img_top" src="{{MEDIA_URL}}{{product.image}}">
        <!--</div>-->
    </div>


    <div class="col-xs-6 product_detail_2">
        <p id="product_name">{{product.name}}</p>
        <p id="price"><b>€{{product.price}}</b></p>
        <p>{{product.brand}}</p>
        <p>{{product.description}}</p>

        <!--<div class="col-xs-2" id="product_detail_2">-->

        <form method="POST" action="{% url 'add_to_cart' %}">

            {% csrf_token %}

            <label for="size">Size</label><br>
            <input type="number" id="size" name="size" value="3" /> <br><br>
            <label for="Quantity">Quantity</label><br>
            <input type="number" id="quantity" name="quantity" value="1" />
            <input type="hidden" name="product" value="{{product.id}}" /> <br>
            <input class="btn btn-primary" type="submit" id="add_to_cart" value="Add to cart" />
        </form>
    </div>
</div>

{% endblock content %}
