{% extends "base.html" %} {% block content %}
<div class="container-fluid">


    {% for product in products %}
    <div class="col-xs-6 col-md-3 view_category_row">
        <div class="card">
            <img class="card-img-top product_card" src="{{MEDIA_URL}}{{product.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h5>
                <h5 class="card-title">€{{product.price}}</h5>
                <h5>{{product.brand}}</h5>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary" id="shop_now">Shop Now</a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>


{% endblock content %}
